{% extends 'base.html' %}
{% block content %}
<a class="child" href="{% url 'writePublication' %}">
    Publier
</a>
<h2 class="text-center mt-3 aside-near">Fil d'actualité</h2>
{% if present %}
    <div class="container mb-2 mt-2 pt-2 pb-4">
        {% for publication in publications reversed %}
            <div class="card mb-3 aside-near">
                <div class="card-header fs-4">  
                    <strong>{{ publication.author.username }}</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% if publication.picture %}
                            <div class="col-12">
                                <img src="{{ publication.picture.url }}" alt="" class="img-fluid"> <br>
                            </div>
                            <div class="col-12">
                                {{ publication.message }}
                            </div>
                        {% else %}
                        <p class="card-text">
                            {{ publication.message }}
                        </p>
                        {% endif %}
                    </div>
                    {% if publication.author == user %}
                        <a href="{% url 'publicationUpdate' publication.id %}" class="btn btn-primary1">Modifier</a>
                        <a href="{% url 'publicationDelete' publication.id %}" class="btn btn-danger">Supprimer</a>
                    {% endif %}
                </div>
                <div class="card-footer text-body-secondary">
                    {{ publication.date }}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div style="height: 74vh;" class="mt-3">
        <h1 class="text-center">Pas encore de publications</h1>
    </div>
{% endif %}
{% endblock %}