{% extends 'base.html' %}

{% block content %}
<h2 class="text-center mt-3 aside-near">Publier</h2>
<form method="POST" enctype="multipart/form-data" class="aside-near" style="padding-left: 15px; margin-top: 15px; margin-bottom: 15px;">
    {% csrf_token %}
        <div class="form-group col-6 col-xs-12 col-sd-12">
            <label for="{{ form.message.id_for_label }}" class="label-text">Mon message :</label>
            <textarea id="{{ form.message.id_for_label }}" 
                name="{{ form.message.html_name }}" style="padding-left: 10px;">
                {{ form.message.value }}
            </textarea>
        </div>
        <div class="form-group form-test col-6 col-sd-12 col-xs-12">
            <label for="{{ form.picture.id_for_label }}" class="label-text">Ma photo :</label>
            {{ form.picture }}
        </div>
        <div class="form-group col-6 col-sd-12 col-xs-12">
            {{ form.isPrivate }}
            <label for="{{ form.isPrivate.id_for_label }}" class="label-text" style="padding-left: 15px;">Rendre Privé</label>
        </div>
    <button type="submit" class="btn btn-primary1 form-group">Publier</button>
</form>
<a href="{% url 'home' %}" class="btn btn-outline-danger" style="margin-left: 265px;">Retour</a>
{% endblock %}
