{% extends 'base.html' %}

{% block content %}
  <div class="container mb-3 pb-3">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-10 col-md-8 col-lg-6">
        <h1 class="aside-near text-center mb-3 mt-3">
          Mon compte
        </h1>
        <div class="card card-account aside-near image-container">
          <img src="{{ user.profile_photo.url }}" class="card-img-top" alt="photo de profil">
          <div class="card-body">
            <h5 class="card-title text-center">Bonjour et bienvenue {{ user.first_name }}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="{% url 'informations' %}" class="btn btn-primary1" style="width: 100%;">
                Voir mes informations
              </a>
            </li>
            <li class="list-group-item">
              <a href="{% url 'update' %}" class="btn btn-primary1" style="width: 100%;">
                Modifier mes informations
              </a>
            </li>
            <li class="list-group-item">
              <a href="{% url 'change_password' %}" class="btn btn-primary1" style="width: 100%;">
                Modifier mon mot de passe
              </a>
            </li>
            <li class="list-group-item">
              <a href="{% url 'logout' %}" class="btn btn-danger" style="width: 100%;">
                Me déconnecter
              </a>
            </li>
            <li class="list-group-item">
              <a href="{% url 'delete' %}" class="btn btn-danger" style="width: 100%;">
                Supprimer mon compte
              </a>
            </li>
          </ul>
        </div>    
      </div>
    </div>
</div>
{% endblock %}