{% extends 'base.html' %}

{% block content %}

<div class="container pb-2 mb-3">

  <div class="row justify-content-center align-items-center">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <h1 class="aside-near text-center mb-3 mt-3">
        Mon compte
      </h1>    
    </div>
  </div>

  <div class="aside-near">
    <div class="row justify-content-center align-items-center">
      <div class="col-xs-12 col-sm-10 col-md-6 col-lg-4 mb-5">
        <div class="card">
          <img src="{{ user.profile_photo.url }}" class="card-img-top img-fluid w-100" alt="photo de profil de l'ami" style="height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title text-center">Vos informations {{ user.username }}</h5> <hr>
            <p>Pseudo : {{ user.username }}</p>
            <p>Nom : {{ user.last_name }}</p>
            <p>Prénom : {{ user.first_name }}</p>
            <p>Adresse mail : {{ user.email }}</p>
            <a class="btn btn-primary1 mb-3" style="width: 100%;" href="{% url 'update' %}">Modifier mes informations</a>
            <a href="{% url 'my-account' %}" class="btn btn-danger" style="width: 100%;">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}