{% extends 'base.html' %}

{% block content %}
<div class="container pb-2">

  <div class="row justify-content-center align-items-center">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <h1 class="aside-near text-center mb-3 mt-3">
        Mon compte
      </h1>    
    </div>
  </div>

  <div class="aside-near">
    <div class="row justify-content-center align-items-center">
      <div class="col-xs-12 col-sm-10 col-md-6 col-lg-4 mb-5">
        <div class="card">
          <img src="{{ user.profile_photo.url }}" class="card-img-top img-fluid w-100" alt="photo de profil de l'ami" style="height: 200px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title text-center">Modifier vos informations {{ user.first_name }}</h5> <hr>
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
              Changer de photo de profil : <br>
              <input type="file" name="profile_photo" accept="image/*" class="mb-2" style="width: 100%;"> 
            </p>
            <p>
              Nouveau pseudo :<br>
              <input type="text" name="pseudo" class="mb-2" style="width: 100%;">
              <!-- Ajoutez le code suivant pour afficher un message d'erreur -->
              {% if error %}
                <p class="text-danger">{{ error }}</p>
              {% endif %}
            </p>
            <p>
              Nouveau prénom :<br>
              <input type="text" name="first_name" class="mb-2" style="width: 100%;"> 
            </p>
            <p>
              Nouveau nom :<br>
              <input type="text" name="last_name" class="mb-2" style="width: 100%;">
            </p>
            <p>
              Nouveau mail :<br>
              <input type="email" placeholder="xyz@exemple.com" name="email" class="mb-2" style="width: 100%;"> 
            </p>
            <button type="submit" class="btn btn-primary1 mb-2" style="width: 100%;" name="login">Modifier</button>
          </form>
            <a href="{% url 'my-account' %}" class="btn btn-danger" style="width: 100%;">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}